.row
  .col-md-12
    h2.title 1-on-1s
  .col-md-12
    search-filters(
      [managers]="managers",
      [statuses]="statuses",
      [users]="users",
      [(currentPage)]="paginationControls['currentPage']",
      [(sort)]="sort_by",
      (submit)="search($event)"
    )
  .col-md-12
    br
    span.total-results Showing&nbsp;
      span.font-bold {{ recordShownCount }}&nbsp;
      | of 
      span.font-bold {{ paginationControls['totalItems'] }}&nbsp;
      | results
  .col-md-12
    //- .alert.alert-danger(*ngIf="errorMsg") {{ errorMsg }}
    table.table.table-instant-feedback([ng2-loading]="loading")
      thead
        tr
          th
            ng-container(*ngIf="!sort_by['employee']")
              button((click)="changeOrder('employee', 'asc')")
                span Employee
            ng-container(*ngIf="sort_by['employee']")
              ng-container(*ngIf="sort_by['employee'] == 'asc'")
                button((click)="changeOrder('employee', 'desc')")
                  span Employee
                  span.icon-holder.ti-arrow-up
              ng-container(*ngIf="sort_by['employee'] == 'desc'")
                button((click)="changeOrder('employee', 'asc')")
                  span Employee
                  span.icon-holder.ti-arrow-down
          th
            span Manager
          th.text-center
            ng-container(*ngIf="!sort_by['scheduled_at']")
              button((click)="changeOrder('scheduled_at', 'asc')")
                span Schedule
            ng-container(*ngIf="sort_by['scheduled_at']")
              ng-container(*ngIf="sort_by['scheduled_at'] == 'asc'")
                button((click)="changeOrder('scheduled_at', 'desc')")
                  span Schedule
                  span.icon-holder.ti-arrow-up
              ng-container(*ngIf="sort_by['scheduled_at'] == 'desc'")
                button((click)="changeOrder('scheduled_at', 'asc')")
                  span Schedule
                  span.icon-holder.ti-arrow-down
          th.text-center
            span Actual
          th
            ng-container(*ngIf="!sort_by['status']")
              button((click)="changeOrder('status', 'asc')")
                span Status
            ng-container(*ngIf="sort_by['status']")
              ng-container(*ngIf="sort_by['status'] == 'asc'")
                button((click)="changeOrder('status', 'desc')")
                  span Status
                  span.icon-holder.ti-arrow-up
              ng-container(*ngIf="sort_by['status'] == 'desc'")
                button((click)="changeOrder('status', 'asc')")
                  span Status
                  span.icon-holder.ti-arrow-down
          th
            span
      tbody
        ng-container(*ngIf="!loading && collection.length <= 0")
            tr
              td.text-center(colspan="6")
                span No results found
        ng-container(*ngIf="!loading && collection.length > 0")
          tr(*ngFor="let obj of collection | paginate: paginationControls")
            td
              span {{ obj.employee.display_name }}
            td
              span {{ obj.manager.display_name }}
            td.schedule
              span.schedule([class.due]="obj.status == 'due'") {{ obj.scheduled_at | date: 'MMMM d' : 'EDT'  }}
            td.schedule
              span([innerHTML]="!!obj.finished_at ? (obj.finished_at | date: 'MMMM d' : 'EDT' ) : '-'")
            td
              span.text-capitalize {{ obj.status }}
            td.actions(*ngIf="obj.manager.id == currentUser.id")
              a([routerLink]="['/one-on-ones', obj.id]")
                .icon-edit.icon-sm.icon-holder
              a()
                .icon-remove.icon-sm.icon-holder
  .col-md-12.text-right(*ngIf="collection.length > 0")
    pagination([config]="paginationControls", (pageChange)="changePage($event)")

