.row
  .col-md-12
    h2.title 1-on-1s
  .col-md-12
    //- .alert.alert-danger(*ngIf="errorMsg") {{ errorMsg }}
    table.table.table-instant-feedback([ng2-loading]="loading")
      thead
        tr
          th
            ng-container(*ngIf="!sort_by['employee']")
              button((click)="changeOrder('employee', 'asc')")
                span Employee
            ng-container(*ngIf="sort_by['employee']")
              ng-container(*ngIf="sort_by['employee'] == 'asc'")
                button((click)="changeOrder('employee', 'desc')")
                  span Employee
                  span.icon-holder.ti-arrow-up
              ng-container(*ngIf="sort_by['employee'] == 'desc'")
                button((click)="changeOrder('employee', 'asc')")
                  span Employee
                  span.icon-holder.ti-arrow-down
          th
            span Manager
          th
            ng-container(*ngIf="!sort_by['set_schedule']")
              button((click)="changeOrder('set_schedule', 'asc')")
                span Schedule
            ng-container(*ngIf="sort_by['set_schedule']")
              ng-container(*ngIf="sort_by['set_schedule'] == 'asc'")
                button((click)="changeOrder('set_schedule', 'desc')")
                  span Schedule
                  span.icon-holder.ti-arrow-up
              ng-container(*ngIf="sort_by['set_schedule'] == 'desc'")
                button((click)="changeOrder('set_schedule', 'asc')")
                  span Schedule
                  span.icon-holder.ti-arrow-down
          th
            span Actual
          th
            ng-container(*ngIf="!sort_by['status']")
              button((click)="changeOrder('status', 'asc')")
                span Status
            ng-container(*ngIf="sort_by['status']")
              ng-container(*ngIf="sort_by['status'] == 'asc'")
                button((click)="changeOrder('status', 'desc')")
                  span Status
                  span.icon-holder.ti-arrow-up
              ng-container(*ngIf="sort_by['status'] == 'desc'")
                button((click)="changeOrder('status', 'asc')")
                  span Status
                  span.icon-holder.ti-arrow-down
          th
            span
      tbody
        ng-container(*ngIf="!loading && collection.length <= 0")
            tr
              td.text-center(colspan="6")
                span No results found
        ng-container(*ngIf="!loading && collection.length > 0")
          tr(*ngFor="let obj of collection | paginate: { id: 'meetingCollection', itemsPerPage: page['size'], currentPage: page['number'], totalItems: recordCount}")
            td
              span {{ obj.employee.display_name }}
            td
              span {{ obj.manager.display_name }}
            td.schedule
              span.schedule([class.due]="obj.status == 'due'") {{ obj.set_schedule | date: 'MMMM d' }}
            td.text-center
              span([innerHTML]="!!obj.actual_schedule ? obj.actual_schedule : '-'")
            td
              span.text-capitalize {{ obj.status }}
            td.actions
              a()
                .icon-edit.icon-sm.icon-holder
              a()
                .icon-remove.icon-sm.icon-holder
  .col-md-12.text-right
    pagination-controls#meetingCollection(
      (pageChange)="changePage($event)",
      maxSize="5",
      autoHide="true",
      responsive="true",
      directionLinks="true",
      screenReaderPageLabel="page")