#sidenav-search_filter.sidenav([@slideInOut]="filterState")
  form(novalidate, autocomplete="off", [formGroup]="form")
    .row
      .col-md-12
        .row
          .col-auto
            h1.filter-title.m-0 Edit Filters
          .col-auto
            button.btn-filter.btn-border-none.m-0((click)="resetFilter()")
              span Clear all filters
      .col-md-12
        br
        #daterange-filters
          ng-container(*ngFor="let opt of dateOpts")
            button.btn-filter.btn-terms.mr-2([class.active]="selectedDateFilter == opt.id", (click)="onSelectDateOpt(opt.id)")
              span {{opt.label}}
        ng-container(*ngIf="showDateRangePicker")
          .opts-group-filter
            h5.filter-title.sub Date Range
            input.form-control(type="text" name="dateRangeInput" daterangepicker, [options]="options", (selected)="selectedDate($event, daterange); onSubmit(form.value)")

      .col-md-12
        .opts-group-filter
          h5.filter-title.sub Status
          div
            ng-container(*ngFor="let status of statuses")
              button.btn-filter.btn-terms.mr-2([class.active]="selectedStatusesFilter.indexOf(status) > -1", (click)="addFilter(selectedStatusesFilter, status, 'status'); onSubmit(form.value)")
                span {{ status }}

      .col-md-12
        .opts-group-filter
          h5.filter-title.sub Manager / Facilitator
          select.form-control.dropdown(formControlName="manager_id", (change)="addFilter2('selectedManagerFilter', 'manager_id'); onSubmit(form.value)")
            option(*ngFor="let user of managers", [value]="user.id") {{ user.display_name }}

      .col-md-12
        .opts-group-filter
          h5.filter-title.sub Employee
          select.form-control.dropdown(formControlName="employee_id", (change)="addFilter2('selectedUserFilter', 'employee_id'); onSubmit(form.value)")
            option(*ngFor="let user of users", [value]="user.id") {{ user.display_name }}

#response-search-filter
  .mt-md-1
    .row
      .col-md-2
        button.btn-filter([disabled]="openSearchFilter", (click)="toggleSearchFilter('in')")
          span Edit Filter&nbsp;
          span.icon-holder.ti-pencil
      .col-md-9
        .search-terms
          button.btn-filter.btn-terms((click)="toggleSearchFilter('in'); ; toggleDateRangePicker()")
            span {{ f.date_since.value | date: 'MM/dd/yyyy' }} - {{ f.date_until.value | date: 'MM/dd/yyyy' }}

          ng-container(*ngIf="selectedStatusesFilter.length > 0")
            ng-container(*ngFor="let q of selectedStatusesFilter; let idx = index")
              ng-container(*ngIf="q == 'None'")
                button.btn-filter.btn-terms((click)="toggleSearchFilter('in')")
                  span S: None
              ng-container(*ngIf="q != 'None'")
                button.btn-filter.btn-terms([disabled]="openSearchFilter", (click)="toggleSearchFilter('in')")
                  span S: {{ q }}
                  span.icon-holder.ti-close((click)="removeFilter(selectedStatusesFilter, idx, 'status'); onSubmit(form.value)")

          ng-container(*ngIf="selectedManagerFilter.display_name == 'None'")
            button.btn-filter.btn-terms((click)="toggleSearchFilter('in')")
              span M: None
          ng-container(*ngIf="selectedManagerFilter.display_name != 'None'")
            button.btn-filter.btn-terms([disabled]="openSearchFilter", (click)=" toggleSearchFilter('in')")
              span M: {{ selectedManagerFilter.display_name }}
              span.icon-holder.ti-close((click)="removeFilter2('selectedManagerFilter', 'manager_id')")

          ng-container(*ngIf="selectedUserFilter.display_name == 'None'")
            button.btn-filter.btn-terms((click)="toggleSearchFilter('in')")
              span E: None
          ng-container(*ngIf="selectedUserFilter.display_name != 'None'")
            button.btn-filter.btn-terms([disabled]="openSearchFilter", (click)=" toggleSearchFilter('in')")
              span E: {{ selectedUserFilter.display_name }}
              span.icon-holder.ti-close((click)="removeFilter2('selectedUserFilter', 'employee_id');")
