.row
  .col-md-10.m-auto
    .row
      .col-md-12
        back-button([backText]="'Back to 1-on-1s'")
      .col-md-12
        .users-avatar
          .avatar-user
            .avatar-name
              | {{ obj?.employee?.display_name.split(" ")[0].charAt(0) }}
              | {{ obj?.employee?.display_name.split(" ")[1].charAt(0) }}
          .avatar-user
            .avatar-name
              | {{ obj?.manager?.display_name.split(" ")[0].charAt(0) }}
              | {{ obj?.manager?.display_name.split(" ")[1].charAt(0) }}
        .user-header
          h1.title 1-on-1 with {{ obj?.employee?.display_name }}
          h3 {{ obj?.set_schedule | date: 'MMMM d, y' }}
          h3.font-bold(*ngIf="meetingStatus == 'done'") Actual 1-on-1 date: {{ obj?.actual_schedule | date: 'MMMM d, y' }}
          .user-actions(*ngIf="meetingStatus != 'done'")
            button.btn.btn-instant-feedback.btn-md.btn-instant-feedback-dark.mr-3(*ngIf="(userIsManager && currentUser.id == obj?.manager?.id)", (click)="showReschedModal=true") Reschedule
            button.btn.btn-instant-feedback.btn-md.btn-instant-feedback-dark.mr-3 Mark as Ready
            button.btn.btn-instant-feedback.btn-md.btn-instant-feedback-brown(*ngIf="(userIsManager && currentUser.id == obj?.manager?.id)", (click)="startDiscussion()") Start
    ng-container(*ngIf="meetingStatus == 'done'")
      .row
        .col-md-12
          br
          br
          meeting-action-items([(actionItems)]="actionItems" , [(slug_id)]="slug_id", [(allowEdit)]="actionEditable")
    .row
      #talkingPoints.col-md-12
        h4.font-bold.text-brown.inline-block Talking Points
        button.inline-block.ml-3.btn-circle-add(*ngIf="meetingStatus != 'done' && (userIsManager && currentUser.id == obj?.manager?.id)", (click)="addTalkingPoints()")
          span.ti-plus
        br
        br
        .row(*ngIf="discussions.length <= 0 && (userIsManager && currentUser.id == obj?.manager?.id)", [ng2-loading]="loading")
          .col-md-12.m-auto.text-center
            .mt-5
              h4.font-semi-bold.text-idle You currently do not have any talking points set.
              button.btn.btn-instant-feedback.btn-instant-feedback-muted((click)="addTalkingPoints()") Add Talking Points
        ng-container(*ngIf="discussions.length > 0")
          .row
            .col-md-12([ng2-loading]="loading", [@listAnimation]="discussions.length")
              .card(*ngFor="let discuss of discussions; let idx = index")
                .card-body((mouseover)="showActionsIdx=idx", (mouseout)="showActionsIdx=null")
                  .card-actions(*ngIf="meetingStatus != 'done'")
                    div(*ngIf="userIsManager", [hidden]="showActionsIdx != idx")
                      button((click)="moveDown(discuss, idx)", [disabled]="idx === (discussions.length - 1)")
                        span.ti-arrow-down
                      button((click)="moveUp(discuss, idx)", [disabled]="idx === 0")
                        span.ti-arrow-up
                      button((click)="editDiscussion(discuss)", [hidden]="discuss.default_question")
                        span.ti-pencil
                      button((click)="removeDiscussion(discuss, idx)", [hidden]="discuss.default_question")
                        span.ti-trash
                  ul.listStyle
                    li
                      span {{ discuss.question }}
                      br
                  ng-container(*ngIf="!discuss.employee_notes && meetingStatus != 'done'")
                    .user-notes.mr-auto.ml-auto.w-50.text-center([hidden]="addNoteIdx != null && addNoteIdx == idx")
                      .vertical-align.qrtr-height
                        .table-cell
                          p.text-muted.opacity-75(*ngIf="(userIsManager && currentUser.id == obj?.manager?.id)") {{ obj?.employee?.display_name }} has no notes yet.
                          button.btn.btn-instant-feedback.btn-instant-feedback-muted(*ngIf="(!userIsManager && currentUser.id == obj?.employee?.id)", (click)="addNotes(idx)") Add Notes
                    .user-notes(*ngIf="!userIsManager && addNoteIdx == idx")
                      textarea.form-control.form-add-talking-point.inline-block.w-75(type="text", [(ngModel)]="employeeInputNote", [class.is-invalid]="submittedNoteForm && employeeInputNote == ''", (keydown.enter)="submitNote(employeeInputNote, discuss)")
                      .inline-block.ml-2.font-size-12.text-brown(*ngIf="employeeInputNote != ''") press enter
                      .invalid-feedback(*ngIf="submittedNoteForm && employeeInputNote == ''")
                        span Please add your notes
                  ng-container(*ngIf="discuss.employee_notes")
                    .user-notes
                      ul.no-list-style
                        li
                          p.font-bold.mb-1(*ngIf="(userIsManager && currentUser.id == obj?.manager?.id)") {{ obj?.employee?.display_name }}'s Note
                          p.font-bold.mb-1(*ngIf="(!userIsManager && currentUser.id == obj?.employee?.id)") Your Notes
                        li
                          p.text-justify {{ discuss.employee_notes }}
        ng-container(*ngIf="(!userIsManager && currentUser.id == obj?.employee?.id) && meetingStatus != 'done'")
          .row
            .col-md-12
              form#user-add-topic(novalidate, autocomplete="off", [formGroup]="talkingPointForm", (ngSubmit)="submitTopic(talkingPointForm.value)")
                p.font-bold.font-size-18 Add any additional topic to this meeting, if you have any.
                input.form-control.form-add-talking-point.inline-block.w-75(type="text", formControlName="custom_question", [class.is-invalid]="submittedPointForm && tp.custom_question.errors")
                .inline-block.ml-2.font-size-12.text-brown(*ngIf="tp.custom_question.valid") press enter
                .invalid-feedback(*ngIf="submittedPointForm && tp.custom_question.errors")
                  span Please enter a topic

talking-point-menu(
  [@slideInOut]="menuState",
  [(discussionObj)]="discussionObj",
  (cancel)="addTalkingPoints()",
  (save)="saveDiscussion($event)"
)

reschedule-modal(
  [(meeting)]="obj",
  [(visible)]="showReschedModal",
  (updateMeeting)="updateMeeting($event)",
  (close)="closeReschedModal()",
)
