.row
  .col-md-10.m-auto
    .row
      .col-md-1
        .users-avatar
          .avatar-user
            .avatar-name
              | {{ obj?.employee?.display_name.split(" ")[0].charAt(0) }}
              | {{ obj?.employee?.display_name.split(" ")[1].charAt(0) }}
          .avatar-user
            .avatar-name
              | {{ obj?.manager?.display_name.split(" ")[0].charAt(0) }}
              | {{ obj?.manager?.display_name.split(" ")[1].charAt(0) }}
      .col-md-11
        h1.title 1-on-1 with {{ obj?.employee?.display_name }}
        h3 {{ obj?.set_schedule | date: 'MMMM d' }}
        .user-actions
          button.btn.btn-instant-feedback.btn-md.btn-instant-feedback-dark.mr-3 Reschedule
          button.btn.btn-instant-feedback.btn-md.btn-instant-feedback-dark Mark as Ready
    .row
      #talkingPoints.col-md-12
        h4.font-bold.text-brown.inline-block Talking Points
        button.inline-block.ml-3.btn-circle-add((click)="addTalkingPoints()")
          span.ti-plus
        br
        br
        .row(*ngIf="discussions.length <= 0", [ng2-loading]="loading")
          .col-md-12.m-auto.text-center
            .mt-5
              h4.font-semi-bold.text-idle You currently do not have any talking points set.
              button.btn.btn-instant-feedback.btn-instant-feedback-muted((click)="addTalkingPoints()") Add Talking Points
        ng-container(*ngIf="discussions.length > 0")
          .row
            .col-md-12([ng2-loading]="loading")
              .card(*ngFor="let discuss of discussions; let idx = index")
                .card-body
                  .card-actions
                    button((click)="moveDown(discuss, idx)", [disabled]="idx === (discussions.length - 1)")
                      span.ti-arrow-down
                    button((click)="moveUp(discuss, idx)", , [disabled]="idx === 0")
                      span.ti-arrow-up
                    button((click)="editDiscussion(discuss)")
                      span.ti-pencil
                    button((click)="removeDiscussion(discuss, idx)")
                      span.ti-trash
                  ul.listStyle
                    li
                      span.font-semi-bold {{ discuss.question }}
                      br
                  ul
                    li
                      span.font-bold {{ obj?.employee?.display_name }}'s Note
                    li
                      .text-justify lorem ipsum

talking-point-menu(
  [@slideInOut]="menuState",
  [(discussionObj)]="discussionObj",
  (cancel)="addTalkingPoints()",
  (save)="saveDiscussion($event)"
)