.row
  .col-md-12
    h2.title Add a Question
  .col-md-12
    .row
      .col-md-8
        .card([ng2-loading]="loading")
          .alert.alert-danger(*ngIf="errorMsg.question") {{ errorMsg.question }}
          form(novalidate, autocomplete="off", [formGroup]="form")
            .form-group
              label.input-label QUESTION
              input.form-control(formControlName="message")
            .form-row
              .form-group.col-md-3
                label.input-label FREQUENCY
                .select-dropdown
                  select.form-control(formControlName="trigger_schedule")
                    option once
              .form-group.col-md-5
                label.input-label DAY
                .input-group(daterangepicker, [options]="datepickeroptions", (selected)="selectedDate($event)")
                  input.form-control(disabled, type="text", formControlName="chosenDay")
                  .input-group-append
                    .input-group-text
                      .icon-calendar.icon-sm.icon-holder
              .form-group.col-md-2
                label.input-label HOUR
                .select-dropdown
                  select.form-control(formControlName="chosenHour", (change)="selectedTime()")
                    option(*ngFor="let hour of hourList", [value]="hour.value")
                      | {{ hour.label}}
              .form-group.col-md-2
                label.input-label MINUTE
                .select-dropdown
                  select.form-control(formControlName="chosenMinute", (change)="selectedTime()")
                    option(*ngFor="let minute of minuteList", [value]="minute.value")
                      | {{ minute.label}}
              .form-group.col-md-2
            .form-group
              .icon-check-green.icon-sm
              span.text-information &nbsp;This question will be shown {{ form.get('trigger_schedule').value }} on the {{ (formatedDate | date: 'd') | dateSuffix }} of {{ formatedDate | date: 'MMMM yyyy' }} at {{ formatedDate | date: 'HH:mm a' }}.
            .form-group
              label.input-label RECIPIENTS
              br
              .checkbox-group.border-lightgray.form-check.form-check-inline
                ng-container(*ngFor="let type of recipientTypes")
                  input.form-check-input(type="radio", formControlName="recipient_type", [value]="type.value")
                  label.form-check-label {{ type.label }}
          .container(*ngIf="form.get('recipient_type').value == 'specific'")
            .row(*ngIf="errorMsg.addUser")
              .col-md-3.alert.alert-danger {{ errorMsg.addUser }}
            .row
              #search-recipients.col-md-6.border-lightgray
                input.form-control(type="text", placeholder="Search for a name", [ngModel]="searchName", (keyup)="searchUserTerm$.next($event.target.value)")
                button.btn.btn-instant-feedback((click)="addUser(searchName)") Add
            .row
              .col-md-6.p-0.relative
                ul#search-suggestion-list(*ngIf="showSuggestion")
                  ng-container(*ngIf="users.length > 0")
                    li(*ngFor="let user of users")
                      a((click)="selectUser(user.display_name)") {{ user.display_name }}
                  ng-container(*ngIf="users.length <= 0")
                    li
                      span No user match
            .row
              .col-md-2(*ngFor="let recipient of recipients; let i = index")
                .user-container.text-center
                  .avatar-user
                    .avatar-name
                      | {{ recipient.display_name.split(" ")[0].charAt(0) }}
                      | {{ recipient.display_name.split(" ")[1].charAt(0) }}
                  br
                  label.name {{ recipient.display_name }}
                  .icon-remove.icon-sm((click)="removeUser(i)")
      .col-md-4
        .card([ng2-loading]="loading")
          button.btn.btn-instant-feedback.btn-instant-feedback-primary((click)="save()")
            span Save
          button.btn.btn-instant-feedback.btn-instant-feedback-muted([routerLink]="['/questions']")
            span Cancel

