.wrapper
  .vertical-align.full-height.container
    .table-cell
      .text-center(*ngIf="action == 'schedule'")
        h2.font-bold All done! Your next 1-on-1 with {{ meeting?.employee?.display_name?.split(' ')[0] }} is scheduled on
        h1.font-bold.text-brown {{ this.meetingForm.get('set_schedule').value | date: 'MMMM d, yyyy'}}
        .input-group(daterangepicker, [options]="options", (selected)="selectedDate($event, daterange)")
          input.form-control(type="text" name="dateRangeInput", [(ngModel)]="new_schedule")
          .input-group-append
            button.btn
              span.icon-holder.ti-calendar
        button.inline-block.btn-instant-feedback.btn-instant-feedback-cancel((click)="setSchedule(new_schedule)")
          span CHANGE

      #listItems(*ngIf="action == 'review'")
        .row
          .col-md-6.mr-auto
            .user-item-container
              h1.font-bold {{ actionItems?.employee?.name?.split(' ')[0] }}'s Action Items
              form.mt-3(automcoplete="off", novalidate, [formGroup]="employeeItemForm", (ngSubmit)="addActionItem('employee', employeeItemForm.value)", [ng2-loading]="loadingEmployeeItems")
                input.form-control.form-bg-yellow.form-control-md(type="text" placeholder="Add an action item here", formControlName="note")
              ul.item-list([class.reset]="actionItems?.employee?.items?.data.length < 1", [ng2-loading]="loadingEmployeeItems")
                ng-container(*ngIf="actionItems?.employee?.items?.data.length < 1")
                  li.text-center
                    span.text-muted.font-light {{ actionItems?.employee?.name?.split(' ')[0] }} has no action items yet
                li.relative.mb-4(*ngFor="let item of actionItems?.employee?.items?.data; let i = index")
                  span(*ngIf="i != editActionIdx['employee']") {{ item.note }}
                  input.form-control(*ngIf="i == editActionIdx['employee']", [(ngModel)]="editNote", (keydown.enter)="saveActionItem('employee', {note: editNote}, item)")
                  .item-actions(*ngIf="i != editActionIdx['employee']")
                    button.btn-action((click)="editActionItem(item, i, 'employee')")
                      span.ti-pencil
                    button.btn-action((click)="removeActionItem(item, i, 'employee')")
                      span.ti-trash
          .col-md-6.ml-auto
            .user-item-container
              h1.font-bold {{ actionItems?.manager?.name?.split(' ')[0] }}'s Action Items
              form.mt-3(automcoplete="off", novalidate, [formGroup]="managerItemForm", (ngSubmit)="addActionItem('manager', managerItemForm.value)", [ng2-loading]="loadingManagerItems")
                input.form-control.form-bg-yellow.form-control-md(type="text" placeholder="Add an action item here", formControlName="note")
              ul.item-list([class.reset]="actionItems?.manager?.items?.data.length < 1", [ng2-loading]="loadingManagerItems")
                ng-container(*ngIf="actionItems?.manager?.items?.data.length < 1")
                  li.text-center
                    span.text-muted.font-light {{ actionItems?.manager?.name?.split(' ')[0] }} has no action items yet
                li.relative.mb-4(*ngFor="let item of actionItems?.manager?.items?.data; let i = index")
                  span(*ngIf="i != editActionIdx['manager']") {{ item.note }}
                  input.form-control(*ngIf="i == editActionIdx['manager']", [(ngModel)]="editNote", (keydown.enter)="saveActionItem('manager', {note: editNote}, item)")
                  .item-actions(*ngIf="i != editActionIdx['manager']")
                    button.btn-action((click)="editActionItem(item, i, 'manager')")
                      span.ti-pencil
                    button.btn-action((click)="removeActionItem(item, i, 'manager')")
                      span.ti-trash
#discuss-multi-form-footer
  .row
    .col-md-8
      ul.reset
        li.inline-block.point-page(*ngFor="let discuss of discussions; let i = index", [class.active]=" i == idx")
          span {{ i + 1}}
        li.inline-block.review
          span.font-bold([class.text-brown]="action == 'review'") Review Summary
        li.inline-block.review
          span.font-bold([class.text-brown]="action == 'schedule'") Schedule Next 1-on-1
    .col-md-4
      .btn-actions.text-right
        button.btn-instant-feedback.btn-instant-feedback-cancel((click)="prevAction()")
          span Previous
        button.btn-instant-feedback.btn-instant-feedback-brown(*ngIf="action == 'review'", (click)="nextAction('schedule')")
          span Schedule Next 1on1
        button.btn-instant-feedback.btn-instant-feedback-brown(*ngIf="action == 'schedule'", (click)="finishMeeting(meetingForm.value)")
          span Finish