.wrapper([ng2-loading]="loading")
  .vertical-align.full-height.container
    .table-cell
      .text-center(*ngIf="action == 'schedule'")
        h2.font-bold All done! Your next 1-on-1 with {{ meeting?.employee?.display_name?.split(' ')[0] }} is scheduled on
        h1.font-bold.text-brown(*ngIf="!editSchedule")
          span {{ m.scheduled_at.value | date: 'MMMM d, yyyy'}}
          button#edit-date-icon.btn((click)="editSchedule = true")
            span.icon-holder.ti-pencil.text-brown

        .input-group(*ngIf="editSchedule", daterangepicker, [options]="options", (selected)="selectedDate($event, daterange)")
          input.form-control(type="text" name="dateRangeInput", [(ngModel)]="new_schedule")
          .input-group-append.inline-block
            .input-group-text
              button.btn
                span.icon-holder.ti-calendar.text-brown

      ng-container(*ngIf="action == 'review'")
        meeting-action-items([(actionItems)]="actionItems", [(slug_id)]="slug_id", [(allowEdit)]="actionItemEditable", [(allowReviewEdit)]="actionItemEditable")
#discuss-multi-form-footer([ng2-loading]="loading")
  .row
    .col-md-8
      ul.reset
        li.inline-block.point-page(*ngFor="let discuss of discussions; let i = index", [class.active]=" i == idx")
          span {{ i + 1}}
        li.inline-block.review
          span.font-bold([class.text-brown]="action == 'review'") Review Summary
        li.inline-block.review
          span.font-bold([class.text-brown]="action == 'schedule'") Schedule Next 1-on-1
    .col-md-4
      .btn-actions.text-right
        button.btn-instant-feedback.btn-instant-feedback-cancel((click)="prevAction()")
          span Previous
        button.btn-instant-feedback.btn-instant-feedback-brown(*ngIf="action == 'review'", (click)="nextAction('schedule')")
          span Schedule Next 1on1
        button.btn-instant-feedback.btn-instant-feedback-brown(*ngIf="action == 'schedule'", (click)="finishMeeting(meetingForm.value)")
          span Finish
