.page-data-content
  .row
    .col-md-12
      h2.title Responses
    .col-md-12
      .row
        .col-md-8
          search-filters(
            [questions]="questions",
            [answers]="answers",
            [users]="users",
            [loading]="loading",
            (submit)="search($event)"
          )
        .col-md-3
          ng-container(*ngIf="queryParams['answers'][0] == 'All' && !!recordAnswerSummary")
            #answer-summary-count.row
              .col-md-3
                span Happy
                br
                span.answer.text-green {{ recordAnswerSummary['happy_count'] }}
              .col-md-3
                span Sad
                br
                span.answer.text-red {{ recordAnswerSummary['sad_count'] }}
              .col-md-6
                span No Answer (X / idle)
                br
                span.answer.text-idle {{ recordAnswerSummary['x_count'] }} / {{ recordAnswerSummary['idle_count'] }}
      hr.divider
    .col-md-12
      span.total-results Showing&nbsp;
        span.font-bold {{ recordShownCount }}&nbsp;
        | of 
        span.font-bold {{ paginationControls['totalItems'] }}&nbsp;
        | results
    .col-md-10.m-auto([ng2-loading]="loading")
      table.table.search-results.mt-md-4
        thead
          tr
            td
              ng-container(*ngIf="order['name'] == 'asc'")
                button((click)="changeOrder('name', 'desc')")
                  span.name Name
                  span.icon-holder.ti-arrow-up
              ng-container(*ngIf="order['name'] == 'desc'")
                button((click)="changeOrder('name', 'asc')")
                  span.name Name
                  span.icon-holder.ti-arrow-down
            td
              button
                span.name Question
            td.text-center
              button
                span.name Answer
            td
              ng-container(*ngIf="order['created_at'] == 'asc'")
                button((click)="changeOrder('created_at', 'desc')")
                  span.name Date
                  span.icon-holder.ti-arrow-up
              ng-container(*ngIf="order['created_at'] == 'desc'")
                button((click)="changeOrder('created_at', 'asc')")
                  span.name Date
                  span.icon-holder.ti-arrow-down
        tbody
          ng-container(*ngIf="collection.length <= 0")
            tr
              td.text-center(colspan="4")
                span No results found
          ng-container(*ngIf="collection.length > 0")
            tr(*ngFor="let obj of collection | paginate: paginationControls")
              td
                span {{obj.user}}
              td
                span {{ obj.question }}
              td.text-center
                ng-container(*ngIf="obj.answer == 'happy'")
                  .answer.icon-happy.icon-sm
                ng-container(*ngIf="obj.answer == 'sad'")
                  .answer.icon-sad.icon-sm
                ng-container(*ngIf="obj.answer == 'idle'")
                  span NO ANSWER - IDLE
                ng-container(*ngIf="obj.answer == 'x'")
                  span NO ANSWER - X
              td
                span {{ obj.created_at | date: 'MM/dd/yyyy' : '-0500' }}
    .col-md-12.text-right(*ngIf="collection.length > 0")
      pagination([config]="paginationControls", (pageChange)="changePage($event)")

