.action-items-container
  ul.item-options.reset(*ngIf="allowEdit && !allowReviewEdit")
    li.inline-block
      .btn-instant-feedback.btn-instant-feedback-cancel.btn-customize.active
        span Action Items
  .row
    .col-md-6.mr-auto([class.col-md-12]="allowEdit && !allowReviewEdit")
      .user-item-container
        h1.font-bold([class.text-idle]="allowEdit && !allowReviewEdit", [class.font-size-16]="allowEdit && !allowReviewEdit") {{ actionItems?.employee?.name?.split(' ')[0] }}'s Items
        ng-container(*ngIf="allowEdit")
          form.mt-3(automcoplete="off", novalidate, [formGroup]="employeeItemForm", (ngSubmit)="onSubmit('create', employeeItemForm.value, 'employee')", [ng2-loading]="loading.employee")
            input.form-control.form-bg-yellow.form-control-md([class.is-invalid] = "submitted.employee && e.note.errors", type="text" placeholder="Add an action item here", formControlName="note")
            .invalid-feedback
              span Please enter an action item
        ul.item-list([class.reset]="actionItems?.employee?.items?.data.length < 1", [ng2-loading]="loading.employee")
          ng-container(*ngIf="actionItems?.employee?.items?.data.length < 1")
            li.text-center
              span.text-muted.font-light([class.font-size-16]="allowEdit && !allowReviewEdit") {{ actionItems?.employee?.name?.split(' ')[0] }} has no action items yet
          li.relative(*ngFor="let item of actionItems?.employee?.items?.data; let i = index")
            span(*ngIf="i != editActionIdx['employee']", [class.font-bold]="allowEdit") {{ item.note }}
            input.form-control(*ngIf="i == editActionIdx['employee']", [(ngModel)]="editNote", (keydown.enter)="saveActionItem('employee', {note: editNote}, item)")
            ng-container(*ngIf="allowEdit")
              .item-actions(*ngIf="i != editActionIdx['employee']")
                button.btn-action((click)="editActionItem(item, i, 'employee')")
                  span.ti-pencil
                button.btn-action((click)="onSubmit('remove', item, 'employee')")
                  span.ti-trash
    .col-md-6.ml-auto([class.col-md-12]="allowEdit && !allowReviewEdit")
      .user-item-container
        h1.font-bold([class.text-idle]="allowEdit && !allowReviewEdit", [class.font-size-16]="allowEdit && !allowReviewEdit") {{ actionItems?.manager?.name?.split(' ')[0] }}'s Items
        ng-container(*ngIf="allowEdit")
          form.mt-3(automcoplete="off", novalidate, [formGroup]="managerItemForm", (ngSubmit)="onSubmit('create', managerItemForm.value, 'manager')", [ng2-loading]="loading.manager")
            input.form-control.form-bg-yellow.form-control-md([class.is-invalid] = "submitted.manager && m.note.errors",type="text" placeholder="Add an action item here", formControlName="note")
            .invalid-feedback
              span Please enter an action item
        ul.item-list([class.reset]="actionItems?.manager?.items?.data?.length < 1", [ng2-loading]="loading.manager")
          ng-container(*ngIf="actionItems?.manager?.items?.data?.length < 1")
            li.text-center
              span.text-muted.font-light([class.font-size-16]="allowEdit") {{ actionItems?.manager?.name?.split(' ')[0] }} has no action items yet
          li.relative(*ngFor="let item of actionItems?.manager?.items?.data; let i = index")
            span(*ngIf="i != editActionIdx['manager']", [class.font-bold]="allowEdit") {{ item.note }}
            input.form-control(*ngIf="i == editActionIdx['manager']", [(ngModel)]="editNote", (keydown.enter)="saveActionItem('manager', {note: editNote}, item)")
            ng-container(*ngIf="allowEdit")
              .item-actions(*ngIf="i != editActionIdx['manager']")
                button.btn-action((click)="editActionItem(item, i, 'manager')")
                  span.ti-pencil
                button.btn-action((click)="onSubmit('remove', item, 'manager')")
                  span.ti-trash


modal(
  [(visible)]="showModal",
  [(currentSession)]="removeObj",
  [(modalText)]="modalText",
  [(buttons)]="modalButtons",
  (modalStateChange)="modalStateChange($event)",
  (removeItems)="onRemove($event)"
)