#talking-point-container.mr-auto.wrapper
  .vertical-align.set-height
    .table-cell
      h1.font-bold {{ discussions[idx]?.question }}

      .employee-notes
        ng-container(*ngIf="!discussions[idx]?.employee_notes")
          br
          p.text-justify {{ discussions[idx]?.employee_name }} didn't add any notes.
        ng-container(*ngIf="discussions[idx]?.employee_notes")
          ul.reset
            li
              p.font-bold.mb-1 {{ discussions[idx]?.employee_name }}'s Note
            li
              p.text-justify {{ discussions[idx]?.employee_notes }}
#listItems
  ul.item-options.reset
    li.inline-block
      button.btn-instant-feedback.btn-instant-feedback-cancel.btn-customize([class.active]="currentTab == 'action'", (click)="changeTab('action')")
        span Action Items
    li.inline-block
      button.btn-instant-feedback.btn-instant-feedback-cancel.btn-customize([class.active]="currentTab == 'general'", (click)="changeTab('general')")
        span General Notes
  ng-container(*ngIf="currentTab == 'action'")
    .user-item-container
      h5.font-bold.text-idle {{ actionItems?.employee?.name?.split(' ')[0] }}'s Items
      form.mt-3(automcoplete="off", novalidate, [formGroup]="employeeItemForm", (ngSubmit)="addActionItem('employee', employeeItemForm.value)", [ng2-loading]="loadingEmployeeItems")
        input.form-control.form-bg-yellow.form-control-md(type="text" placeholder="Add an action item here", formControlName="note")
      ul.item-list([class.reset]="actionItems?.employee?.items?.data.length < 1", [ng2-loading]="loadingEmployeeItems")
        ng-container(*ngIf="actionItems?.employee?.items?.data.length < 1")
          li.text-center
            span.text-muted.font-light {{ actionItems?.employee?.name?.split(' ')[0] }} has no action items yet
        li.relative(*ngFor="let item of actionItems?.employee?.items?.data; let i = index")
          span {{ item.note }}
          .item-actions
            button.btn-action()
              span.ti-pencil
            button.btn-action()
              span.ti-trash
    br
    .user-item-container
      h5.font-bold.text-idle {{ actionItems?.manager?.name?.split(' ')[0] }}'s Items
      form.mt-3(automcoplete="off", novalidate, [formGroup]="managerItemForm", (ngSubmit)="addActionItem('manager', managerItemForm.value)", [ng2-loading]="loadingManagerItems")
        input.form-control.form-bg-yellow.form-control-md(type="text" placeholder="Add an action item here", formControlName="note")
      ul.item-list([class.reset]="actionItems?.manager?.items?.data.length < 1", [ng2-loading]="loadingManagerItems")
        ng-container(*ngIf="actionItems?.manager?.items?.data.length < 1")
          li.text-center
            span.text-muted.font-light {{ actionItems?.manager?.name?.split(' ')[0] }} has no action items yet
        li.relative(*ngFor="let item of actionItems?.manager?.items?.data")
          span {{ item.note }}
          .item-actions
            button.btn-action()
              span.ti-pencil
            button.btn-action()
              span.ti-trash
  ng-container(*ngIf="currentTab == 'general'")
    .user-item-container
      form.mt-3(automcoplete="off", novalidate, [formGroup]="generalItemForm", (ngSubmit)="addGeneralItem(generalItemForm.value)", [ng2-loading]="loadingGeneralItems")
        input.form-control.form-bg-yellow.form-control-md(type="text" placeholder="Add a note", formControlName="note")
      ul.item-list(, [ng2-loading]="loadingGeneralItems")
        li.relative(*ngFor="let item of generalItems; let i = index")
          span {{ item.note }}
          //- input.form-control([(ngModel)]="generalNote")
          .item-actions
            button.btn-action()
              span.ti-pencil
            button.btn-action()
              span.ti-trash
#discuss-multi-form-footer
  .row
    .col-md-6
      ul.reset
        li.inline-block.point-page(*ngFor="let discuss of discussions; let i = index", [class.active]=" i == idx")
          span {{ i + 1}}
    .col-md-6
      .btn-actions.text-right
        button.btn-instant-feedback.btn-instant-feedback-cancel(*ngIf="idx == 0", (click)="cancel()")
          span Cancel
        button.btn-instant-feedback.btn-instant-feedback-cancel(*ngIf="idx != 0", (click)="prevPoint()")
          span Previous
        button.btn-instant-feedback.btn-instant-feedback-brown(*ngIf="idx != (discussions.length-1)", (click)="nextPoint()")
          span Next
        button.btn-instant-feedback.btn-instant-feedback-brown(*ngIf="idx == (discussions.length-1)", (click)="nextPoint()")
          span Review Summary