.team-pulse
  .row
    .col-md-7
      h1.title Team Pulse
    .col-md-5
      .date-filter-box
        button.btn.btn-instant-feedback.btn-if-date-filter([class.active]="selectedDateFilter == 1", (click)="chooseDateRange(1)")
          span THIS WEEK
        button.btn.btn-instant-feedback.btn-if-date-filter([class.active]="selectedDateFilter == 2", (click)="chooseDateRange(2)")
          span MONTH
        button.btn.btn-instant-feedback.btn-if-date-filter([class.active]="selectedDateFilter == 3", (click)="chooseDateRange(3)")
          span YEAR
        button.btn.btn-instant-feedback.btn-if-date-filter([class.active]="selectedDateFilter == 4", (click)="chooseDateRange(4)", daterangepicker, [options]="options", (selected)="selectedDate($event, daterange)")
          span.icon-holder.ti-calendar
          | &nbsp;&nbsp;
          span.icon-holder.ti-angle-down
    .col-md-12
      ng-container(*ngIf="filter == 'week'")
        h2.current-daterange {{ this.daterange.start | date : 'MMMM d'}}-{{ this.daterange.end | date : 'd'}}
      ng-container(*ngIf="filter == 'month'")
        h2.current-daterange {{ this.daterange.start | date : 'MMMM y'}}
      ng-container(*ngIf="filter == 'year'")
        h2.current-daterange {{ this.daterange.start | date : 'y'}}
      ng-container(*ngIf="filter == 'custom'")
        h2.current-daterange {{ this.daterange.start | date : 'MMMM d y'}}-{{ this.daterange.end | date : 'MMMM d y'}}
      hr.hr-underline
    .col-md-12
      .row
        .col-md-5
          #cardHappyChart.card([ng2-loading]="loading")
            .card-content.text-center
              br
              h5 Happiness Meter
              .text-green.percentage {{ answerPercentage.happy }}%
            ng-container(*ngIf="filter != 'custom'")
              canvas#happyMeterChart
        .col-md-3
          .row
            .col-md-12.col-sm-6
              .card.card-avg-summary([ng2-loading]="loading", [style.height.px]="setHeight()")
                .m-auto((mouseover)="onHover.happy=true", (mouseout)="onHover.happy=false")
                  .card-title Happy
                  a.data {{ happyUsers.length }}
                  .hovered-box([hidden]="!onHover.happy")
                    .data-hovered
                      ng-container(*ngIf="happyUsers.length <= 0")
                        .user-details
                          .user-info
                            span No users
                      ng-container(*ngIf="happyUsers.length > 0")
                        .user-details(*ngFor="let user of happyUsers")
                          .avatar-user
                            .avatar-name
                              | {{ user.user.display_name.split(" ")[0].charAt(0) }}
                              | {{ user.user.display_name.split(" ")[1].charAt(0) }}
                          .user-info
                            span {{ user.user.display_name }}
                            br
                            span.percent {{ user.percentage }}%
            .col-md-12.col-sm-6
              .card.card-avg-summary([ng2-loading]="loading", [style.height.px]="setHeight()")
                .m-auto((mouseover)="onHover.sad=true", (mouseout)="onHover.sad=false")
                  .card-title Sad
                  a.data {{ sadUsers.length }}
                  .hovered-box([hidden]="!onHover.sad")
                    .data-hovered
                      ng-container(*ngIf="sadUsers.length <= 0")
                        .user-details
                          .user-info
                            span No users
                      ng-container(*ngIf="sadUsers.length > 0")
                        .user-details(*ngFor="let user of sadUsers")
                          .avatar-user
                            .avatar-name
                              | {{ user.user.display_name.split(" ")[0].charAt(0) }}
                              | {{ user.user.display_name.split(" ")[1].charAt(0) }}
                          .user-info
                            span {{ user.user.display_name }}
                            br
                            span.percent {{ user.percentage }}%
        .col-md-4
          .row
            .col-md-12.col-sm-6
              .card.card-avg-summary([ng2-loading]="loading", [style.height.px]="setHeight()")
                .m-auto
                  .card-title % of users who clicked X
                  a.data {{ answerPercentage.x }}%
            .col-md-12.col-sm-6
              .card.card-avg-summary([ng2-loading]="loading", [style.height.px]="setHeight()")
                .m-auto
                  .card-title % of users who did not answer
                  a.data {{ answerPercentage.idle }}%
    .col-md-12
      .row.equal
        .col-md-4.col-sm-6.card.card-questions([ng2-loading]="loading")
          .card-box
            .card-title {{ questionsData[0]?.question }}
            .stats-summary.container
              ng-container(*ngIf="!questionsData[0]?.answers")
                .row.summary-count
                  .col-md-12
                    span No data available
              ng-container(*ngIf="questionsData[0]?.answers")
                .row.summary-count
                  .col-md-3
                    span Happy
                    br
                    span.text-green {{ questionsData[0]?.answers?.happy }}%
                  .col-md-3
                    span Sad
                    br
                    span.text-red {{ questionsData[0]?.answers?.sad }}%
                  .col-md-6
                    span No Answer&nbsp;
                    span.text-idle.font-light (X / Idle)
                    br
                    span.text-idle {{ questionsData[0]?.answers?.x }}% / {{ questionsData[0]?.answers?.idle }}%
              ng-container(*ngIf="filter != 'custom'")
                canvas#canvas1
        .col-md-4.col-sm-6.card.card-questions([ng2-loading]="loading")
          .card-box
            .card-title {{ questionsData[1]?.question }}
            .stats-summary.container
              ng-container(*ngIf="!questionsData[1]?.answers")
                .row.summary-count
                  .col-md-12
                    span No data available
              ng-container(*ngIf="questionsData[1]?.answers")
                .row.summary-count
                  .col-md-3
                    span Happy
                    br
                    span.text-green {{ questionsData[1]?.answers?.happy }}%
                  .col-md-3
                    span Sad
                    br
                    span.text-red {{ questionsData[1]?.answers?.sad }}%
                  .col-md-6
                    span No Answer&nbsp;
                    span.text-idle.font-light (X / Idle)
                    br
                    span.text-idle {{ questionsData[1]?.answers?.x }}% / {{ questionsData[1]?.answers?.idle }}%
              ng-container(*ngIf="filter != 'custom'")
                canvas#canvas2
        .col-md-4.col-sm-6.card.card-questions([ng2-loading]="loading")
          .card-box
            .card-title {{ questionsData[2]?.question }}
            .stats-summary.container
              ng-container(*ngIf="!questionsData[2]?.answers")
                .row.summary-count
                  .col-md-12
                    span No data available
              ng-container(*ngIf="questionsData[2]?.answers")
                .row.summary-count
                  .col-md-3
                    span Happy
                    br
                    span.text-green {{ questionsData[2]?.answers?.happy }}%
                  .col-md-3
                    span Sad
                    br
                    span.text-red {{ questionsData[2]?.answers?.sad }}%
                  .col-md-6
                    span No Answer&nbsp;
                    span.text-idle.font-light (X / Idle)
                    br
                    span.text-idle {{ questionsData[2]?.answers?.x }}% / {{ questionsData[2]?.answers?.idle }}%
              ng-container(*ngIf="filter != 'custom'")
                canvas#canvas3
        .col-md-4.col-sm-6.card.card-questions([ng2-loading]="loading")
          .card-box
            .card-title {{ questionsData[3]?.question }}
            .stats-summary.container
              ng-container(*ngIf="!questionsData[3]?.answers")
                .row.summary-count
                  .col-md-12
                    span No data available
              ng-container(*ngIf="questionsData[3]?.answers")
                .row.summary-count
                  .col-md-3
                    span Happy
                    br
                    span.text-green {{ questionsData[3]?.answers?.happy }}%
                  .col-md-3
                    span Sad
                    br
                    span.text-red {{ questionsData[3]?.answers?.sad }}%
                  .col-md-6
                    span No Answer&nbsp;
                    span.text-idle.font-light (X / Idle)
                    br
                    span.text-idle {{ questionsData[3]?.answers?.x }}% / {{ questionsData[3]?.answers?.idle }}%
              ng-container(*ngIf="filter != 'custom'")
                canvas#canvas4
        .col-md-4.col-sm-6.card.card-questions([ng2-loading]="loading")
          .card-box
            .card-title {{ questionsData[4]?.question }}
            .stats-summary.container
              ng-container(*ngIf="!questionsData[4]?.answers")
                .row.summary-count
                  .col-md-12
                    span No data available
              ng-container(*ngIf="questionsData[4]?.answers")
                .row.summary-count
                  .col-md-3
                    span Happy
                    br
                    span.text-green {{ questionsData[4]?.answers?.happy }}%
                  .col-md-3
                    span Sad
                    br
                    span.text-red {{ questionsData[4]?.answers?.sad }}%
                  .col-md-6
                    span No Answer&nbsp;
                    span.text-idle.font-light (X / Idle)
                    br
                    span.text-idle {{ questionsData[4]?.answers?.x }}% / {{ questionsData[4]?.answers?.idle }}%
              ng-container(*ngIf="filter != 'custom'")
                canvas#canvas5