#sidenav-search_filter.sidenav([@slideInOut]="filterMenu")
  form(novalidate, autocomplete="off", [formGroup]="form")
    .row
      .col-md-12
        .row
          .col-auto
            h1.filter-title.m-0 Edit Filters
          .col-auto
            button.btn-filter.btn-border-none.m-0((click)="resetFilter()")
              span Clear all filters
      .col-md-12
        br
        #daterange-filters
          ng-container(*ngFor="let opt of dateOpts")
            button.btn-filter.btn-terms.mr-2([class.active]="selectedDateFilter == opt.id", (click)="chooseDateRange(opt.id)")
              span {{opt.label}}
        ng-container(*ngIf="showDateRangePicker")
          .opts-group-filter
            h5.filter-title.sub Date Range
            input#dateRangeInput.form-control(type="text" name="dateRangeInput" daterangepicker, [options]="options", (selected)="selectedDate($event, daterange)")
      .col-md-12
        .opts-group-filter
          h5.filter-title.sub Questions
          div
            ng-container(*ngFor="let question of questions")
              button.btn-filter.btn-terms.mr-2([class.active]="selectedQuestionsFilter.indexOf(question) > -1", (click)="addFilter(selectedQuestionsFilter, question, 'questions')")
                span {{ question }}
      .col-md-12
        .opts-group-filter
          h5.filter-title.sub Answers
          div
            ng-container(*ngFor="let answer of answers")
              button.btn-filter.btn-terms.mr-2([class.active]="selectedAnswersFilter.indexOf(answer) > -1", (click)="addFilter(selectedAnswersFilter, answer, 'answers')")
                span(*ngIf="answer != 'X' && answer != 'Idle'") {{ answer }}
                span(*ngIf="answer == 'X' || answer == 'Idle'") No Answer - {{ answer }}

      .col-md-12
        .opts-group-filter
          h5.filter-title.sub Users
          select.form-control.dropdown(formControlName="user_id", (change)="addUserFilter('selectedUserFilter', 'user_id'); onSubmit(form.value)")
            option(*ngFor="let user of users", [value]="user.id") {{ user.display_name }}

#response-search-filter
  .mt-md-1
    .row
      .col-md-2
        button.btn-filter([disabled]="filterMenu == 'in'", (click)="toggleSearchFilter('in')")
          span Edit Filter&nbsp;
          span.icon-holder.ti-pencil
      .col-md-9
        .search-terms
          button.btn-filter.btn-terms((click)="toggleSearchFilter('in'); toggleDateRangePicker()")
            span {{ filters.date_since.value | date: 'MM/dd/yyyy' }} - {{ filters.date_until.value | date: 'MM/dd/yyyy' }}
          ng-container(*ngIf="selectedQuestionsFilter.length > 0")
            ng-container(*ngFor="let q of selectedQuestionsFilter; let idx = index")
              ng-container(*ngIf="q == 'All'")
                button.btn-filter.btn-terms((click)="toggleSearchFilter('in')")
                  span Q: {{ q }}
              ng-container(*ngIf="q != 'All'")
                button.btn-filter.btn-terms([disabled]="filterMenu == 'in'", (click)=" toggleSearchFilter('in')")
                  span Q: {{ q }}
                  span.icon-holder.ti-close((click)="removeFilter(selectedQuestionsFilter, idx, 'questions')")
          ng-container(*ngIf="selectedAnswersFilter.length > 0")
            ng-container(*ngFor="let a of selectedAnswersFilter; let idx = index")
              ng-container(*ngIf="a == 'All'")
                button.btn-filter.btn-terms((click)="toggleSearchFilter('in')")
                  span A: {{ a }}
              ng-container(*ngIf="a != 'All'")
                button.btn-filter.btn-terms([disabled]="filterMenu == 'in'", (click)=" toggleSearchFilter('in')")
                  span(*ngIf="answer != 'X' && answer != 'Idle'") A: {{ a }}
                  span(*ngIf="answer == 'X' || answer == 'Idle'") A: No Answer - {{ a }}
                  span.icon-holder.ti-close((click)="removeFilter(selectedAnswersFilter, idx, 'answers')")
          ng-container(*ngIf="selectedUserFilter.display_name == 'All'")
            button.btn-filter.btn-terms((click)="toggleSearchFilter('in')")
              span U: All
          ng-container(*ngIf="selectedUserFilter.display_name != 'All'")
            button.btn-filter.btn-terms([disabled]="filterMenu == 'in'", (click)=" toggleSearchFilter('in')")
              span U: {{ selectedUserFilter.display_name }}
              span.icon-holder.ti-close((click)="removeUserFilter('selectedUserFilter', 'user_id')")
