#sidenav-search_filter.sidenav([class.open]="openSearchFilter")
  form(novalidate, autocomplete="off", [formGroup]="form")
    .row
      .col-md-12
        .row
          .col-auto
            h1.filter-title.m-0 Edit Filters
          .col-auto
            button.btn-filter.btn-border-none.m-0((click)="resetFilter()")
              span Clear all filters
      .col-md-12
        br
        #daterange-filters
          ng-container(*ngFor="let opt of dateOpts")
            button.btn-filter.btn-terms.mr-2([class.active]="selectedDateFilter == opt.id", (click)="chooseDateRange(opt.id)")
              span {{opt.label}}
        ng-container(*ngIf="selectedDateFilter == 4")
          .opts-group-filter
            h5.filter-title.sub Date Range
            input.form-control(type="text" name="dateRangeInput" daterangepicker, [options]="options", (selected)="selectedDate($event, daterange)")
      .col-md-12
        .opts-group-filter
          h5.filter-title.sub Questions
          div
            ng-container(*ngFor="let question of questions")
              button.btn-filter.btn-terms.mr-2([class.active]="selectedQuestionsFilter.indexOf(question) > -1", (click)="addFilter(selectedQuestionsFilter, question, 'questions')")
                span {{ question }}
      .col-md-12
        .opts-group-filter
          h5.filter-title.sub Answers
          div
            ng-container(*ngFor="let answer of answers")
              button.btn-filter.btn-terms.mr-2([class.active]="selectedAnswersFilter.indexOf(answer) > -1", (click)="addFilter(selectedAnswersFilter, answer, 'answers')")
                span {{ answer }}
      .col-md-12
        .opts-group-filter
          h5.filter-title.sub Users
          select.form-control.dropdown(formControlName="user")
            option(*ngFor="let user of users", [value]="user") {{ user }}

#response-search-filter
  .mt-md-1
    .row
      .col-md-2#btn-add-filter
        button.btn-filter([disabled]="openSearchFilter", (click)="toggleSearchFilter()")
          span Add Filter&nbsp;
          span.icon-holder.ti-plus
        button.btn-filter((click)="onSubmit(form.value)")
          span Search&nbsp;
          span.icon-holder.ti-search
      .col-md-9
        .search-terms
          button.btn-filter.btn-terms
            span {{ daterange.start | date: 'MM/dd/yyyy' }} - {{ daterange.end | date: 'MM/dd/yyyy' }}
            span.icon-holder.ti-close
          ng-container(*ngIf="selectedQuestionsFilter.length > 0")
            ng-container(*ngFor="let q of selectedQuestionsFilter; let idx = index")
              button.btn-filter.btn-terms([disabled]="openSearchFilter", (click)="removeFilter(selectedQuestionsFilter, idx, 'questions')")
                span Q: {{ q }}
                span.icon-holder.ti-close
          ng-container(*ngIf="selectedAnswersFilter.length > 0")
            ng-container(*ngFor="let a of selectedAnswersFilter; let idx = index")
              button.btn-filter.btn-terms([disabled]="openSearchFilter", (click)="removeFilter(selectedAnswersFilter, idx, 'answers')")
                span A: {{ a }}
                span.icon-holder.ti-close